
	<!DOCTYPE html>
<html>
<head>
	<title>My inventory app</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<div class="container">

	<div id="closed-sidebar"> <img id ="opensvg" src="open.svg" ></div>
	<div class="sidebar">

			<img  src="x.svg" id="close" >

		<div class="sidebar-content" id="sidebar-title">
		 <a href="">Sidebar</a> 
		</div>
		<div class ="sidebar-content">
		<a href="">Create</a>	
		</div>
		<div class ="sidebar-content">
		<a href="">Update</a>	
		</div>
		<div class ="sidebar-content">
		<a href="">Delete</a>	
		</div>
		<div class ="sidebar-content">
		<a href="">Retrieve</a>	
		</div>

	</div>
	 
	<div class="navbar"> 
		<div id="title" >Roketo </div>
		<form method="Post" action ="#">
			<input type="text" id="search" name="search-bar">
		</form>
	</div>
	<div class="content"> 
		
		
	{{#each mfgDetails as |n| }}
	<div class="card">
	 id  :  {{ n.mfg_id }} <br>
	 name:  {{ n.mfg_name }} <br>
	 country: {{ n.country }} <br>
	 id: {{ n.manf_id }} <br>
	 Phone: {{ n.phone }} <br>
	 Pincode :{{ n.pincode }} <br>
	</div>
	{{/each}}
	
	
</div>
<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>